$primary-color-light: #FD7858;
$primary-color-dark: #fd5272;
$title-color: #777777;
$white: #FFFFFF;

$tinyText: calc(9px + 0.1vw); // 10px
$semiTinyText: calc(10px + 0.2vw); // 12px
$middleText: calc(10.5px + 0.25vw); // 13-14px
$bigText: calc(14px + 0.4vw); // 20px